img.emoji {
  // Override any img styles to ensure Emojis are displayed inline
  margin: 0 !important;
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  background: none !important;
  border: 0 !important;
  display: inline !important;
  height: 0.8em;
}
